{% extends "user/:user:layout_user.html.twig" %}
{% block body %}
    <div class="row">
        <div class="mx-auto col-md-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <a class=" btn badge-info" href="{{ path('user_productlist') }}">Back</a>
        </div>
    </div>
{% endblock %}